.app {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff; /* or whatever bg you're using */
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}
